<a href="https://colab.research.google.com/github/slee159/edu/blob/master/16%EC%9D%BC%EC%B0%A8_200818_(1)_scikit_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sklearn
print(sklearn.__version__)

0.22.2.post1

## 1. 개요(목차는 ##로 만듦)
- IRIS 붓꽃 분류 모형을 만든다.

### (1) 패키지 불러오기 (아래 level은 ###로 만듦)
- sklearn 패키지를 불러온다.

#### (1) 데이터 불러오기
- sklearn 패키지 내장 데이터 있음

In [5]:
from sklearn.datasets import load_iris

iris = load_iris() # IRIS 내장 데이터는 Bunch 형태의 데이터셋으로 구성되어 있음

# 독립변수로 구성된 데이터
iris_data = iris.data

# 종속변수
iris_label = iris.target
print('iris target 값 :', iris_label[[0,50,100]]) # iris의 0번째, 50번째, 100번째 값을 출력
print('iris target 명 :', iris.target_names)

iris target 값 : [0 1 2]
iris target 명 : ['setosa' 'versicolor' 'virginica']

#### (2) 데이터 전처리
- 상황: 현재 iris 데이터는 NumPy 형태, 리스트 형태임
- 방법: pandas를 활용해서, 데이터 프레임 만들기

In [21]:
import pandas as pd
iris_df = pd.DataFrame(iris_data,columns = ['Sepal Length', "Sepal Width", 'Petal Length', 'Petal Width'] )
iris_df.head(5)

   Sepal Length  Sepal Width  Petal Length  Petal Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2